<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>会社案内｜マジカルリミックスWeb制作事業部</title>
<meta name="author" content="マジカルリミックス">
<meta name="description" content="事務所は仙台駅前、広瀬通沿いにあります。お越しの際は地下鉄が便利です。">
<meta name="keywords" content="会社案内,所在地,代表メッセージ">
<link rel="stylesheet" href="../../css/style.css">
<!--[if IE]><script src="../js/html5shiv.js"></script><![endif]-->
<script type="text/javascript" src="../../js/jquery-1.11.3.min.js"></script>
<script type="text/javascript">
	$.ajaxSetup({
		cache:false
	})
	$(document).ready(function(){
 		$("#header").load("../com/header.html");
 		$("#footer").load("../com/footer.html");
 		$("#nav").load("../com/nav.html");
	});
</script>
</head>
<body id="ai">
<div id="container">
	<div id="header"></div>
	<div id="nav"></div>
	<div class="visual">
		<p><img src="../images/visual.jpg" alt="ホームページが秘めた無限の可能性を" /></p>
	</div>
	<div id="content">
		<h2>会社案内</h2>
		<p>マジカルリミックスは仙台のデザイン会社です。ホームページ制作を核としながら、インターネットを活用したビジネスの提案や、ブログのコンサルティングを得意としています。小規模な案件からある程度まとまった規模の案件まで、各種制作実績があります。</p>
		<p>また、企業内のアプリケーション、IT活用のセミナーやトレーニングも行っております。</p>
		<h3>進め方</h3>
		<table>
			<tbody>
				<tr>
					<th>2016/01/07</th>
					<td>人工知恵のモデムを作成したい。</td>
				</tr>
				<tr>
					<th>2016/01/07</th>
					<td>基本的な動作を実現したい。</td>
				</tr>
				<tr>
					<th>2016/01/07</th>
					<td>神経はスレットで実現できると思います。（スレットでずっと監視し、お腹すいたらお腹がすいた結果を脳に渡す。）</td>
				</tr>
				<tr>
					<th>2016/01/07</th>
					<td>人体の器官として体というテーブルを作成し、スレット(複数)を作ってい神経として、脳とつながる。</td>
				</tr>
				<tr>
					<th>2016/01/08</th>
					<td>胃袋の量はテーブルの数字、いつお腹すいてるの？脳にの刺激？</td>
				</tr>
				<tr>
					<th>2016/01/08</th>
					<td>人体属性は胃袋の量とする。神経と関連し、50以上の場合、脳に伝える。</td>
				</tr>
				<tr>
					<th>2016/01/08</th>
					<td>脳が処理し食べものを探す。食べ物を探すのが脳の処理</td>
				</tr>
				<tr>
					<th>2016/01/08</th>
					<td>脳の活動領域、睡眠領域など分けます。脳のオブジェクト、クラス。</td>
				</tr>
				<tr>
					<th>2016/01/08</th>
					<td>食べ物を食べて、別の神経を発動し胃袋の量が変わる。神経種類が違う</td>
				</tr>
				<tr>
					<th>2016/01/12</th>
					<td>生理神経と脳のインタフェース、神経が脳の領域に刺激する。その刺激により脳が判断し、
					指令群（神経）を作り、動く。</td>
				</tr>
				<tr>
					<th>2016/01/12</th>
					<td>脳の判断について、お腹がすいたら食べものを探して食べるという生理ルール。</td>
				</tr>
				<tr>
					<th>2016/01/14</th>
					<td>脳の判断はなんでしょう。論理的なものなのか？？？データ構造の樹のようなものでしょう。
					親は一つ、子供の複数、神経が刺激したのは樹のルートといい。</td>
				</tr>
			</tbody>
		</table>
		<h3>代表あいさつ</h3>
		<p><img src="images/akama.jpg" alt="代表" class="f-r" />2007年7月、「なんとかしたい」を「なんとかします」の信念のもと株式会社マジカルリミックスを設立しました。<br />
			激動するWeb業界において、高度な専門知識と技術は常に向上させていかないといけません。</p>
		<p>一方、世の中のニーズは『技術』ではなく『成果・効果』だと認識しています。技術、当社、お客様、あらゆるもののバランスがとれてこそ、真に求められる企業と考えます。</p>
		<!--/#content--></div>
	<aside>
		<div class="ai">
			<h3>会社情報</h3>
			<dl>
				<dt>株式会社マジカルリミックス</dt>
				<dd>〒980-0014<br />
					宮城県仙台市青葉区本町2-1-8 第一広瀬ビル2F</dd>
			</dl>
			<iframe src="http://mapsengine.google.com/map/embed?mid=zfFsXCXD7ung.ksPZKzG4pd2I"></iframe>
			<p>※地下鉄広瀬通駅のすぐそばに吉野家があります。そのビルの2Fです。</p>
			<p class="more"><a href="../index/index.html">詳しい会社情報はこちら</a></p>
			<!--/.ai--></div>
		<p><a href="http://www.magical-remix.co.jp/" target="_blank"><img src="../images/bnr-magical.gif" alt="株式会社マジカルリミックス" /></a></p>
	</aside>
	<div id="footer"></div>
	<!--/#container--></div>
</body>
</html>
