<!DOCTYPE html>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=9" />
<meta charset="UTF-8">
 <title>子画面</title>

<script type="text/javascript" src="../../common/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="../../common/js/jquery.dataTables.js"></script>
<!-- <link rel="stylesheet" type="text/css" href="common/css/demo.css"> -->
<link rel="stylesheet" type="text/css" href="../../common/css/main.css">
<link rel="stylesheet" type="text/css" href="../../common/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="../../common/css/jquery-ui-1.10.4.custom.css">
<!-- <link rel="stylesheet" type="text/css" href="common/css/font-face/typicons.css"> -->


<script type="text/javascript">

</script>
</head>
<body>

</body>
</html>