<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>マジカルリミックスWeb制作事業部</title>
<meta name="author" content="マジカルリミックス">
<meta name="description" content="仙台市を中心とし、宮城県全域に対応のホームページ制作を行なっています。">
<meta name="keywords" content="仙台,ホームページ,Web制作">
<link rel="stylesheet" href="../../css/style.css">
<!--[if IE]><script src="js/html5shiv.js"></script><![endif]-->
<script type="text/javascript" src="../../js/jquery-1.11.3.min.js"></script>
<script type="text/javascript">
	$.ajaxSetup({
		cache:false
	})
	$(document).ready(function(){
 		$("#header").load("../com/header.html");
 		$("#footer").load("../com/footer.html");
 		$("#nav").load("../com/nav.html");
	});
</script>
</head>
<body id="index">
<div id="container">
	<div id="header"></div>
	<div id="nav"></div>
	<div class="visual">
		<p><img src="../images/visual.jpg" alt="ホームページが秘めた無限の可能性を" /></p>
	</div>
	<div id="content">
		<p>三流大学で卒業し、その後およそ１０年間社会人として努力して、働いた今、人生目標が失っているようです。
		ソフトウェア開発関係なので、興味でこのサイトを建築し、どこまで進めるのがわからないです。ただ、頭の中に
		暴走されたものを実現してみたいだけや。</p>
		<h2>マイページ</h2>
		<h4>ホームページ制作</h4>
		<p>このWebサイトの制作流れ、考え方を記録し、中途半端にならないように努力します。</p>

		<h4>自分について</h4>
		<p>私の興味や発表できるものを公開します。</p>

		<h2>ダブルエックス</h2>
			<p>このWebサイトの制作流れ、考え方を記録し、中途半端にならないように努力します。</p>
		<dl>
			<dt>2015年1月7日</dt>
			<dd><a href="news/index.html">Webサイトの制作を始めました。</a></dd>
			<dt>2015年1月7日</dt>
			<dd><a href="news/index.html#link20130415">考えたものは履歴として残すよう、人工知恵に追加しはじめました。</a></dd>
			<dt>2015年1月7日</dt>
			<dd><a href="news/index.html#link20130220">どんなモデムなのか考えました。</a></dd>
		</dl>
		<h2>人工知恵</h2>
			<p></p>
		<h2>フォーラム</h2>
			<p>自分が仕事中の経験や</p>

		<!--/#content--></div>
	<aside>
		<div class="company">
			<h3>自己紹介</h3>
			<dl>
				<dt>株式会社マジカルリミックス</dt>
				<dd>〒980-0014<br />
					宮城県仙台市青葉区本町2-1-8 第一広瀬ビル2F</dd>
			</dl>
			<iframe src="http://mapsengine.google.com/map/embed?mid=zfFsXCXD7ung.ksPZKzG4pd2I"></iframe>
			<p>※地下鉄広瀬通駅のすぐそばに吉野家があります。そのビルの2Fです。</p>
			<p class="more"><a href="../company/index.html">詳しい会社情報はこちら</a></p>
			<!--/.company--></div>
		<p><a href="http://www.magical-remix.co.jp/" target="_blank"><img src="../images/bnr-magical.gif" alt="株式会社マジカルリミックス" /></a></p>
	</aside>

	<div id="footer"></div>

	<!--/#container--></div>
</body>
</html>
