body, h1, p {
	margin: 0;
	padding: 0;
}

h1 {
	color: #ffffff;
}

h2 {
	color: #339933;
}

p {
	line-height: 2em;
}

p.hl {
	font-size: 1.25em;
	color: #ffffff;
}

div#header, div#main, div#menu, div#footer {
	padding: 2px;
	border-radius: 5px;         /* CSS3 */
	border: 1px green solid;     /* �g��̑��� */
}

div#header {
	background-color: #339933;
	-moz-border-radius: 2px;    /* �Â�Firefox */
	-webkit-border-radius: 2px; /* �Â�Safari,Chrome */
}

div#content {
	background-color: #000000;
	width: 100%;
	overflow: hidden;
}


div#container{
	background-color: #ff0000;

	width: 100%;
	float: right;
	margin-left: -206px;
	vertical-align:top;
}

div#main {
	background-color: #99cc33;
/* 	height: auto; */
/* 	position: relative; */
	height:840px;
	margin: 0 0 0 206px;
	padding: 0px 0;
	vertical-align:top;

}

div#menu {
	color: #339933;
	background-color: #99cc33;
	width: 200px;
	float: left;
}

div#menu a:link {
	color: #000000;
}

div#menu a:visited {
	color: #ff0000;
}

div#menu a:hover {
	color: #339933;
}

div#menu li {
	line-height: 2em;
}

div#footer {
	color: #ffffff;
	background-color: #339933;
}
/* .fixed_height { height: 600px; } */


/* .dataTables_wrapper { */
/*     position: relative; */
/*     clear: both; */
/*     width: auto; */
/*     min-height : 700 px; */
/*     margin-left: 0px; */
/*     border-bottom: 1px solid black; */
/*     border-top: 1px solid black; */
/*     border-left: 1px solid black; */
/*     border-right: 1px solid black; */
/*     background-color: #9D9C9D; */
/*     zoom: 1; */
/* } */
/* =======================================menu==================================================== */

@font-face {
  font-family: 'typicons';
  src: url('../font-face/typicons.eot');
  src: url('../font-face/typicons.eot?#iefix') format('embedded-opentype'),
       url('../font-face/typicons.woff') format('woff'),
       url('../font-face/typicons.ttf') format('truetype'),
       url('../font-face/typicons.svg#typicons') format('svg');
  font-weight: normal;
  font-style: normal;
}

#accordion{
  list-style: none;
  width: 100%;
  font-size: 12px;
  line-height: 1;
  background-color: #add8e6;
  background-image: linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,transparent 75%, transparent);
  -moz-background-size: 1px 1px;
  -webkit-background-size: 1px 1px;
  -o-background-size: 1px 1px;
  -ms-background-size: 1px 1px;
  background-size: 1px 1px;
  margin: 0;
  padding: 0;
  border-top: 5px solid #1b4958;
  border-bottom: 5px solid #1b4958;
  border-radius: 5px;
  box-shadow: 1px 1px 1px rgba(0,0,0,.2);
}
#accordion > li{
  padding: 0;
  border-right: 1px solid #3a9fc0;
  border-left: 1px solid #3a9fc0;
}

/* �J�e�S���[ */
#accordion li a{
  display: block;
  position:relative;
  color: #333;
  text-decoration:none;
  text-shadow: 0 1px 1px rgba(255,255,255,.7);
  padding: 5px 20px;
  border-bottom: 1px solid #79bfd6;
  border-top: 1px solid #eef7fa;
  -moz-transition: .3s;
  -webkit-transition: .3s;
  -o-transition: .3s;
  -ms-transition: .3s;
  transition: .3s;
}
#accordion > li:first-child > a{
  border-top: 0px;
}
/* �J�e�S���[�A�C�R�� */
#accordion > li a:before {
  position: absolute;
  top: 60%;
  left: 6px;
  font: 12px/100% 'Typicons';
  content: "\e116";
  color: #000000;
  margin-top: -10px;
  text-shadow: 1px 1px 0px rgba(255,255,255,.7);
}

#accordion li a:hover{
  color: #1b4958;
  background: rgba(0,0,0,.1);
  border-top-color: #c7e4ee;
}
.arrow{
  position:absolute;
  top:55%;
  right: 10px;
  width: 3px;
  height: 13px;
  line-height: 1;
  text-shadow: 0 -1px 0px rgba(0,0,0,.3);
  margin-top: -8px;
  color: #d4ebf2;
  -moz-transition: .3s;
  -webkit-transition: .3s;
  -o-transition: .3s;
  -ms-transition: .3s;
  transition: .3s;
}
/* �J�e�S���[�W�J�O */
.arrow:before{
  font: 12px 'Typicons';
  content: "\e049";
}
#accordion li > a:hover .arrow{
  color: #2f7f99;
}
.rotate {
  color:#2f7f99;
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
#accordion li ul {
  list-style: none;
  background: #e1f1f6;
  margin: 0;
  padding-left: 0px;
}
/* �T�u�J�e�S���[ */
#accordion li ul li a{
  position:relative;
  background: none;
  line-height: 1;
  padding: 5px 20px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #a0d2e2;
}
/* �T�u�J�e�S���[�A�C�R�� */
#accordion li ul li a:before {
  position: absolute;
  top: 55%;
  left:12px;
  content: "\e0b2";
  font:12px/100% 'Typicons';
  color: #2f7f99;
  margin-top: -7px;
  text-shadow: 1px 1px 0 rgba(0,0,0,.5);
  -moz-transition: .3s;
  -webkit-transition: .3s;
  -o-transition: .3s;
  -ms-transition: .3s;
  transition: .3s;
}
#accordion li ul li:first-child a{
  border-top: 0px;
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.5) inset;
}
#accordion li ul li:last-child a{
  border-bottom: 1px solid #5fb3ce;
}
#accordion li ul li a:hover{
  background: #d4ebf2;
  border-top-color: #eef7fa;
}

/* =======================================TAB==================================================== */
/* -------------------------- */
/* ���X�g�������ɕ��ׂ鑕�� */
/* -------------------------- */
ul.menulist {
   margin: 0px;  /* ���X�g��̗͂]�����폜 */
   padding: 0px; /* ���X�g��̗͂]�����폜 */
}
ul.menulist li {
   list-style-type: none; /* �擪�L�������� */
   float: left;   /* ���X�g���ڂ������ɕ��ׂ� */
   margin: 0px;   /* �e���ڎ�̗͂]�� */
   padding: 0px;  /* �g��Ɠ��e�̋������[���� */
   height: 25px;  /* ���^�u�̍��� */
   font-size: 12px;
}

/* ---------------------------------------- */
/* ���j���[���ړ��̃����N���^�u�Ɍ����鑕�� */
/* ---------------------------------------- */
ul.menulist li a {
   text-decoration: none; /* ��������� */
   display: block;        /* �u���b�N���x���Ƃ��ĕ\�� */
   padding: 2px 0px;      /* �������̗]���� */
   width: 120px;            /* ���^�u�̉��� */
/*    height: 105px;          ���\���ȍ������w�肵�Ă����i���^�u��2�i�g�E3�i�g�ɂȂ����Ƃ��̂��߂ɐ��{�ɂ��Ă����Ɨǂ������j */
   text-align: center;    /* �����x��(������)�𒆉��� */
   font-weight: bold;     �����x��(������)�𑾎��ɂ���
   background-color: #ffffcc;     /* ���^�u�̔w�i�F */
   border: black solid 1px;       /* ���^�u�̘g�� */
   border-top-left-radius: 5px;  /* ���^�u�̍���̊p���ۂ����� */
   border-top-right-radius: 5px; /* ���^�u�̉E��̊p���ۂ����� */
  border-top: 5px solid #1b4958;
   /* �^�u�����^�u�y�[�W������ɏd�˂邽�߂̎w�� */
   position: relative;
   z-index: 0;
}

/* -------------- */
/* �^�u�̔z�F(��) */
/* -------------- */
ul.menulist li#litab1  a { background-color: #79bfd6; color: #000000; border-color: #2f7f99; }
ul.menulist li#litab2  a { background-color: #79bfd6; color: #000000; border-color: #2f7f99; }
ul.menulist li#litab3  a { background-color: #79bfd6; color: #000000; border-color: #2f7f99; }
ul.menulist li#litab4  a { background-color: #79bfd6; color: #000000; border-color: #2f7f99; }
ul.menulist li#litab5  a { background-color: #79bfd6; color: #000000; border-color: #2f7f99; }

/* -------------------- */
/* �I�𒆃^�u�̔z�F(��) */
/* -------------------- */
ul.menulist li#litab1  a.active { background-color: #ddd; color: #333; border-bottom: 1px solid  #008000; }
ul.menulist li#litab2  a.active { background-color: #ddd; color: #333; border-bottom: 1px solid  #008000; }
ul.menulist li#litab3  a.active { background-color: #ddd; color: #333; border-bottom: 1px solid  #008000; }
ul.menulist li#litab4  a.active { background-color: #ddd; color: #333; border-bottom: 1px solid  #008000; }
ul.menulist li#litab5  a.active { background-color: #ddd; color: #333; border-bottom: 1px solid  #008000; }


/* ul.menulist li a.active{ */
/* 	background:#ddd; */
/* 	color:#333; */
/* } */

/* ---------------------------------- */
/* �}�E�X���ڂ����Ƃ��̃^�u�̔z�F(��) */
/* ---------------------------------- */
ul.menulist li#litab1  a:hover { background-color: #ddd; color: #333; }
ul.menulist li#litab2  a:hover { background-color: #ddd; color: #333; }
ul.menulist li#litab3  a:hover { background-color: #ddd; color: #333; }
ul.menulist li#litab4  a:hover { background-color: #ddd; color: #333; }
ul.menulist li#litab5  a:hover { background-color: #ddd; color: #333; }


div.box {
   clear: left;          /* ��荞�݂����� */
   height: 100px;        /* ���������w��*/
   padding: 2px;       /* �������̗]���� */
   background-color: #ffcccc;  /* ���w�i�F */
   border: solid #00ff001px; /* ���g�� */
   position: relative;   /* z-index���w�肷�邽�߂ɕK�v */
   z-index: 10;          /* ���̗v�f���O�ʂɕ\�������� */
     border-top:solid 3px #800000;

/* 	border-top-left-radius: 10px;     ���� */
	border-top-right-radius: 5px;    /* �E�� */
	border-bottom-left-radius: 5px;  /* ���� */
	border-bottom-right-radius: 5px; /
}

ul.menulist li a {
   height: 16px; /* ���\���ȍ������w�肵�Ă����i���^�u��2�i�g�E3�i�g�ɂȂ����Ƃ��̂��߂ɐ��{�ɂ��Ă����Ɨǂ������j */
}

.footerBtnCss{
/* 	background: -ms-linear-gradient(top, #ccccff, #000066); */
/* 	background: -webkit-gradient(linear, left top, left bottom, from(#0099CC),to(#006699)); */
    background: #000099;
    /* Webkit�n */
    background: -webkit-gradient(linear, left top, left bottom, from(#ccccff), to(#000066));
    /* Mozilla�n */
    background: -moz-linear-gradient(top, #ccccff, #000066);
    /* IE10+ */
    background: -ms-linear-gradient(top, #ccccff, #000066);
    /* IE8-9 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ccccff', endColorstr='#000066', GradientType=0)";
	border: 2px solid #FFF;
	color: #FFF;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-box-shadow: 1px 1px 1px rgba(000, 000, 000, 0.3);
	-webkit-box-shadow: 1px 1px 1px rgba(000, 000, 000, 0.3);
	text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
	width: 107px;
		height: 30px;
	padding: 2px 0;
		 font-size:12px;
}

fieldset {
 font-size:12px;
margin-top: 5px;
padding-left: 4px;
padding-top: 5px;
/* width: 100%; */
/* padding: 0 1px 1px; */
border: 2px #c0c0c0groove;
}

.text{
	border:1px solid #777;
	width:200px;
	height: 15px;
	padding-left: 2px;
	color: #000;
	background: #fff;
	border-radius: 3px;
	filter:progid:DXImageTransform.Microsoft.gradient
        (startColorstr=#ffeeeeee,endColorstr=#ffffffff);
	zoom: 1;

}
.datatableCss {
padding-left:10px;
}
.datatableCss {
  width: auto;
  border-spacing: 0;
  font-size:14px;
}
.datatableCss th {
  color: #fff;
  padding: 2px 15px;
  background: #258;
  background:-moz-linear-gradient(rgba(34,85,136,0.7), rgba(34,85,136,0.9) 50%);
  background:-webkit-gradient(linear, 100% 0%, 100% 50%, from(rgba(34,85,136,0.7)), to(rgba(34,85,136,0.9)));
  font-weight: bold;
  border-left:1px solid #258;
  border-top:1px solid #258;
  border-bottom:1px solid #258;
  line-height: 120%;
  text-align: center;
  text-shadow:0 -1px 0 rgba(34,85,136,0.9);
  box-shadow: 0px 1px 1px rgba(255,255,255,0.3) inset;
}
.datatableCss th:first-child {
  border-radius: 5px 0 0 0;
}
.datatableCss th:last-child {
  border-radius:0 5px 0 0;
  border-right:1px solid #258;
  box-shadow: 2px 2px 1px rgba(0,0,0,0.1),0px 1px 1px rgba(255,255,255,0.3) inset;
}
.datatableCss tr td {
  padding: 2px 8px;
  border-bottom: 1px solid #84b2e0;
  border-left: 1px solid #84b2e0;
  text-align: center;
}
.datatableCss tr td:last-child {
  border-right: 1px solid #84b2e0;
  box-shadow: 2px 2px 1px rgba(0,0,0,0.1);
}
.datatableCss tr {
  background: #fff;
}
.datatableCss tr:nth-child(2n+1) {
  background: #f1f6fc;
}
.datatableCss tr:last-child td {
  box-shadow: 2px 2px 1px rgba(0,0,0,0.1);
}
.datatableCss tr:last-child td:first-child {
  border-radius: 0 0 0 5px;
}
.datatableCss tr:last-child td:last-child {
  border-radius: 0 0 5px 0;
}
.datatableCss tr:hover {
background: #bbd4ee;
cursor:pointer;

}
