<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>事業内容｜マジカルリミックスWeb制作事業部</title>
<meta name="author" content="マジカルリミックス">
<meta name="description" content="ホームページを総合的に制作します。その中でもWordPressとJimdoに特化した制作が得意です。">
<meta name="keywords" content="事業内容,ホームページ作成,WordPressテンプレート,Jimdoテンプレート">
<link rel="stylesheet" href="../../css/style.css">
<!--[if IE]><script src="../js/html5shiv.js"></script><![endif]-->
<script type="text/javascript" src="../../js/jquery-1.11.3.min.js"></script>
<script type="text/javascript">
	$.ajaxSetup({
		cache:false
	})
	$(document).ready(function(){
 		$("#header").load("../com/header.html");
 		$("#footer").load("../com/footer.html");
 		$("#nav").load("../com/nav.html");
	});
</script>
</head>
<body id="business">
<div id="container">
	<div id="header"></div>
	<div id="nav"></div>
	<div class="visual">
		<p><img src="../images/visual.jpg" alt="ホームページが秘めた無限の可能性を" /></p>
	</div>
	<div id="content">
		<h2>事業内容</h2>
		<h3>ホームページ制作</h3>
		<h4>ホームページ制作の可能性</h4>
		<p>ホームページのニーズ・重要度は、時代が進むにつれてますます増してきます。 以前は「ホームページを作る」ことが目的でした。しかし、現在ではホームページを作ることは単なるスタートラインで あり、「ホームページを運用する、使ってもらう、活用する」ことが目的と言われています。</p>
		<p>会社やお店を育てていく、大事にする。これはホームページでも同じことが言えます。</p>
		<h4>お客様と私たちで、一緒に作っていきます</h4>
		<p>ホームページで伝えたい内容、アイデアはお客様の頭の中にあります。私たちはヒアリングを行い、その頭の中の情報を引き出します。いくら良いアイデアであっても、表現するホームページの質が悪ければ最大限に活かせません。逆に、すばらしいホームページでも、伝えたい内容や中身が伴わなければ意味が無いのです。</p>
		<p>役割分担をしながら、お客様と我々で、最高のホームページを作り上げていきましょう。</p>
		<h3>WordPress</h3>
		<p class="clearfix"><img src="../images/wordpress.gif" alt="WordPressロゴ" class="f-r" />WordPressはもともとブログを運営するようなツールです。<br />
			一度作ってしまえばお客様側での更新が容易に行えるようになりますので、長く運営したい・型にはまったパターンのページを更新していくなどのニーズに合うツールです。</p>
		<h3>Jimdo</h3>
		<p class="clearfix"><img src="../images/jimdo.gif" alt="Jimdoロゴ" class="f-r" />Jimdoはドイツ生まれの、Web制作の専門知識がなくても更新、運営が可能なASPサービスです。<br />
			運営自体はとても簡単ですので、マジカルリミックスでは「準備」と「運用支援」のお手伝いを行います。</p>
		<!--/#content--></div>
	<aside>
		<div class="company">
			<h3>最新情報</h3>
			<dl>
				<dt>株式会社マジカルリミックス</dt>
				<dd>〒980-0014<br />
					宮城県仙台市青葉区本町2-1-8 第一広瀬ビル2F</dd>
			</dl>
			<iframe src="http://mapsengine.google.com/map/embed?mid=zfFsXCXD7ung.ksPZKzG4pd2I"></iframe>
			<p>※地下鉄広瀬通駅のすぐそばに吉野家があります。そのビルの2Fです。</p>
			<p class="more"><a href="../company/company.html">詳しい会社情報はこちら</a></p>
			<!--/.company--></div>
		<p><a href="http://www.magical-remix.co.jp/" target="_blank"><img src="../images/bnr-magical.gif" alt="株式会社マジカルリミックス" /></a></p>
	</aside>
	<div id="footer"></div>

	<!--/#container--></div>
</body>
</html>
